//the route
.state('admin.editExam', {
		url: '/edit-exam/:data',
		params: {
			data: {
				array: true
			}
		},
		templateUrl: 'assets/tpl/admin/exams/edit.html'
	})

//the view (the trigger)
<a ui-sref="admin.editExam({data: exam._id})" class="btn btn-info" tooltip="Edit" flow="down">


[
	{
		"name":"monexDB",
		"type":"collection",
		"options":{},
		"info":{"readOnly":false},
		"idIndex":{
			"v":1,"key":{
				"_id":1},
				"name":"_id_",
				"ns":"monexDB.monexDB"
			}
		},
		{
			"name":"password",
			"type":"collection",
			"options":{},
			"info":{
				"readOnly":false
			},
			"idIndex":{
				"v":1,
				"key":{
					"_id":1
				},
			"name":"_id_",
			"ns":"monexDB.password"
		}
	},
	{
		"name":"username",
		"type":"collection",
		"options":{},
		"info":{
			"readOnly":false
		},
		"idIndex":{
			"v":1,
			"key":{
				"_id":1
			},
			"name":"_id_",
			"ns":"monexDB.username"
		}
	}
]