<div ng-controller="loginControl">
	<div class="main-container">
		<div class="header-w3l">
			<h1>{{header}}</h1>
		</div>
		<div class="main-content-agile">
			<div class="w3ls-pro">
				<h2>{{title}}</h2>
			</div>
			<div class="sub-main-w3ls">	
				<form action="#" method="post">
					<input placeholder="Enter your E-mail" name="enter mail" type="email" required="">
					<span class="icon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
					<input  placeholder="Enter Password" name="Password" type="password" required="">
					<span class="icon2"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
					<div class="checkbox-w3">
						<span class="check-w3"><input type="checkbox" />Remember Me</span>
						<a href="#">Forgot Password?</a>
						<div class="clear"></div>
					</div>
					<div class="social-icons"> 
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li> 
							</ul>  
						</div>
					<input type="submit" value="">
				</form>
			</div>
		</div>
		<div class="footer">
			<p>&copy; 2017 Monex Login Form. All rights reserved | Design by <a href="http://Monexjs.com">Team Monex</a></p>
		</div>
	</div>
</div>