div.cnt{
	bottom: 75px;
	right: 50px;
	position: fixed;
	width: 55px;
	height: 55px;
	background-color: #36404c;
	border-radius: 90px;
	transition: width 0.7s;
	overflow: hidden;
	box-shadow: 0px 5px 18px -2px rgba(0,0,0,0.7);
	display: flex;
}
.itm{
	position: absolute;
	top: 50%;
	right: 50%;
	margin-top: -35%;
	margin-right: -20%;
}

.fab {
  background: #36404c;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  text-align: center;
  color: #FFF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.25);
  position: fixed;
  bottom: 48px;
  right: 48px;
  /* font-size: 2.6667em; */
  font-size: 1.5em;
  display: inline-block;
  cursor: default;
}
.fab span {
  vertical-align: middle;
  /* display: flex;
  position: absolute;
  margin: auto;
  margin-right: -20%; */
}
.fab.child {
  right: 58.66666667px;
  width: 42.66666667px;
  height: 42.66666667px;
  display: none;
  opacity: 0;
  font-size: 1.4em;
}
.child.itm{
	position: absolute;
	top: 50%;
	right: 50%;
	margin-top: -10%;
	margin-right: -24%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ECECEC;
  opacity: 0.9;
  display: none;
}
/* body {
  background: #363F45;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #FFF;
}
 */


/* .input-group input[type=number]::-webkit-inner-spin-button, 
.input-group input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} */

input[type=number].spnles { -moz-appearance: textfield; }
input[type=number].spnles::-webkit-inner-spin-button,
input[type=number].spnles::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

.parent {
    /*height: 200px;*/
    text-align: center;
}
.parent > .child {
    line-height: 50px;
}
